<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo2.mapper.EmpMapper">
    <resultMap id="empResultMap" type="Emp">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptno" column="deptno"/>
    </resultMap>

    <resultMap id="empBriefResultMap" type="EmpBrief">
        <result property="ename" column="ename"/>
        <result property="sal" column="sal"/>
        <result property="deptno" column="deptno"/>
    </resultMap>

    <resultMap id="empWithDeptResultMap" type="Emp">
        <id property="empno" column="emp_empno"/>
        <result property="ename" column="emp_ename"/>
        <result property="job" column="emp_job"/>
        <result property="mgr" column="emp_mgr"/>
        <result property="hiredate" column="emp_hiredate"/>
        <result property="sal" column="emp_sal"/>
        <result property="comm" column="emp_comm"/>
        <result property="deptno" column="emp_deptno"/>
        <association property="dept" javaType="Dept">
            <id property="deptno" column="dept_deptno"/>
            <result property="dname" column="dept_dname"/>
            <result property="loc" column="dept_loc"/>
        </association>
    </resultMap>

    <resultMap id="deptPayrollSummaryMap" type="DeptPayrollSummary">
        <id property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <result property="employeeCount" column="employee_count"/>
        <result property="totalSalary" column="total_salary"/>
        <result property="averageSalary" column="average_salary"/>
        <result property="maxSalary" column="max_salary"/>
        <result property="minSalary" column="min_salary"/>
    </resultMap>

    <resultMap id="empManagerViewMap" type="EmpManagerView">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="sal" column="sal"/>
        <result property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <result property="mgr" column="mgr"/>
        <result property="managerName" column="manager_name"/>
    </resultMap>

    <sql id="empColumns">
        empno, ename, job, mgr, hiredate, sal, comm, deptno
    </sql>

    <sql id="empDeptJoinColumns">
        e.empno AS emp_empno,
        e.ename AS emp_ename,
        e.job AS emp_job,
        e.mgr AS emp_mgr,
        e.hiredate AS emp_hiredate,
        e.sal AS emp_sal,
        e.comm AS emp_comm,
        e.deptno AS emp_deptno,
        d.deptno AS dept_deptno,
        d.dname AS dept_dname,
        d.loc AS dept_loc
    </sql>

    <select id="findAll" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        ORDER BY empno
    </select>

    <select id="findEmployeesWithDept" resultMap="empWithDeptResultMap">
        SELECT <include refid="empDeptJoinColumns"/>
        FROM emp e
                 INNER JOIN dept d ON e.deptno = d.deptno
        ORDER BY e.empno
    </select>

    <select id="findEmployeesByDeptLocation" resultMap="empWithDeptResultMap">
        SELECT <include refid="empDeptJoinColumns"/>
        FROM emp e
                 INNER JOIN dept d ON e.deptno = d.deptno
        WHERE d.loc = #{loc}
        ORDER BY e.empno
    </select>

    <select id="summarizeDeptPayroll" resultMap="deptPayrollSummaryMap">
        SELECT d.deptno,
               d.dname,
               d.loc,
               COUNT(e.empno) AS employee_count,
               COALESCE(SUM(e.sal), 0) AS total_salary,
               COALESCE(ROUND(AVG(e.sal), 2), 0) AS average_salary,
               COALESCE(MAX(e.sal), 0) AS max_salary,
               COALESCE(MIN(e.sal), 0) AS min_salary
        FROM dept d
                 LEFT JOIN emp e ON d.deptno = e.deptno
        GROUP BY d.deptno, d.dname, d.loc
        ORDER BY d.deptno
    </select>

    <select id="findEmployeesWithManagerAndDept" resultMap="empManagerViewMap">
        SELECT e.empno,
               e.ename,
               e.job,
               e.sal,
               e.deptno,
               d.dname,
               d.loc,
               e.mgr,
               m.ename AS manager_name
        FROM emp e
                 LEFT JOIN emp m ON e.mgr = m.empno
                 LEFT JOIN dept d ON e.deptno = d.deptno
        ORDER BY e.empno
    </select>

    <select id="listNameSalaryDept" resultMap="empBriefResultMap">
        SELECT ename, sal, deptno
        FROM emp
        ORDER BY empno
    </select>

    <select id="findSalaryAbove" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE sal &gt; #{threshold}
        ORDER BY empno
    </select>

    <select id="findInDepartments" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        <choose>
            <when test="deptnos != null and deptnos.size() &gt; 0">
                WHERE deptno IN
                <foreach collection="deptnos" item="deptno" open="(" separator="," close=")">
                    #{deptno}
                </foreach>
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
        ORDER BY empno
    </select>

    <select id="findJoinedAfter" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE hiredate &gt; #{date}
        ORDER BY empno
    </select>

    <select id="findWithCommission" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE comm IS NOT NULL
        ORDER BY empno
    </select>

    <select id="findByJob" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE job = #{job}
        ORDER BY empno
    </select>

    <select id="findSalaryBetween" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE sal BETWEEN #{low} AND #{high}
        ORDER BY empno
    </select>

    <select id="findNoCommissionUnderSalary" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE comm IS NULL
          AND sal &lt; #{threshold}
        ORDER BY empno
    </select>

    <select id="findAllOrderBySalaryDesc" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        ORDER BY sal DESC
    </select>

    <select id="findByTaskThreeRules" parameterType="EmpQuery" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="enameKeyword != null and enameKeyword != ''">
                AND ename LIKE CONCAT('%', #{enameKeyword}, '%')
            </if>
            <if test="jobName != null and jobName != ''">
                AND job = #{jobName}
            </if>
            <if test="deptnos != null and deptnos.size() &gt; 0">
                AND deptno IN
                <foreach collection="deptnos" item="deptno" open="(" separator="," close=")">
                    #{deptno}
                </foreach>
            </if>
            <if test="hiredAfter != null">
                AND hiredate &gt; #{hiredAfter}
            </if>
            <if test="minimumSalary != null">
                AND sal &gt; #{minimumSalary}
            </if>
            <if test="salaryFloor != null">
                AND sal &gt;= #{salaryFloor}
            </if>
            <if test="salaryCeiling != null">
                AND sal &lt;= #{salaryCeiling}
            </if>
            <if test="salaryBelow != null">
                AND sal &lt; #{salaryBelow}
            </if>
            <if test="commissionPresent != null and commissionPresent">
                AND comm IS NOT NULL
            </if>
            <if test="commissionPresent != null and !commissionPresent">
                AND comm IS NULL
            </if>
        </trim>
        <choose>
            <when test="salaryDesc != null and salaryDesc">
                ORDER BY sal DESC
            </when>
            <otherwise>
                ORDER BY empno
            </otherwise>
        </choose>
    </select>

    <select id="findByNameOrDept" parameterType="EmpQuery" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        <choose>
            <when test="exactEname != null and exactEname != ''">
                WHERE ename = #{exactEname}
            </when>
            <when test="fallbackDeptno != null">
                WHERE deptno = #{fallbackDeptno}
            </when>
        </choose>
        ORDER BY empno
    </select>

    <select id="findByEmpno" parameterType="int" resultMap="empResultMap">
        SELECT <include refid="empColumns"/>
        FROM emp
        WHERE empno = #{empno}
    </select>

    <insert id="add" parameterType="Emp">
        INSERT INTO emp (empno, ename, job, mgr, hiredate, sal, comm, deptno)
        VALUES (#{empno}, #{ename}, #{job}, #{mgr}, #{hiredate}, #{sal}, #{comm}, #{deptno})
    </insert>

    <insert id="addMany">
        INSERT INTO emp (empno, ename, job, mgr, hiredate, sal, comm, deptno)
        VALUES
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.empno}, #{emp.ename}, #{emp.job}, #{emp.mgr},
             #{emp.hiredate}, #{emp.sal}, #{emp.comm}, #{emp.deptno})
        </foreach>
    </insert>

    <update id="modify" parameterType="Emp">
        UPDATE emp
        SET ename = #{ename},
            job = #{job},
            mgr = #{mgr},
            hiredate = #{hiredate},
            sal = #{sal},
            comm = #{comm},
            deptno = #{deptno}
        WHERE empno = #{empno}
    </update>

    <update id="reviseSelective" parameterType="Emp">
        UPDATE emp
        <trim prefix="SET" suffixOverrides=",">
            <if test="ename != null">ename = #{ename},</if>
            <if test="job != null">job = #{job},</if>
            <if test="mgr != null">mgr = #{mgr},</if>
            <if test="hiredate != null">hiredate = #{hiredate},</if>
            <if test="sal != null">sal = #{sal},</if>
            <if test="comm != null">comm = #{comm},</if>
            <if test="deptno != null">deptno = #{deptno},</if>
        </trim>
        WHERE empno = #{empno}
    </update>

    <delete id="removeByEmpno" parameterType="int">
        DELETE FROM emp
        WHERE empno = #{empno}
    </delete>

    <delete id="removeManyByEmpno">
        DELETE FROM emp
        WHERE empno IN
        <foreach collection="empnos" item="empno" open="(" separator="," close=")">
            #{empno}
        </foreach>
    </delete>
</mapper>
